body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333;
}

input, textarea, select, button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    width: 100%;
    padding: 0.5em;
    background-color: #ebebeb;
    color: #666;
    border: none;
    border-bottom: 2px solid #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

select {
    height: 2.5em;
}

label {
    display: block;
    margin: 0.5em 0 0.1em 0;
}

.application {
    margin: 1em;
}

@media (min-width: 768px) {
    .application {
        margin: 0;
    }
}

.languageMenu {
    margin: -1em -1em 0 -1em;
    color: #fff;
    padding: 0.5em;
    text-align: right;
}

@media (min-width: 768px) {
    .languageMenu {
        margin: 0;
    }
}

.languageMenu label {
    display: inline-block;
    margin: 0 0.5em 0 0;
}

.languageMenu select {
    height: 1.7em;
    padding: 0;
    display: inline-block;
    width: auto;
}

.logo {
    display: block;
    margin: 1.5em auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 0.8em;
    letter-spacing: -0.08em;
    font-weight: 900;
}

.subtitle {
    text-align: center;
    font-size: 1.1em;
}

@media (min-width: 768px) {
    .generator {
        width: 48em;
        margin: 0 auto 1em auto;
        overflow: auto;
        background-color: #f9f9f9;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}

@media (min-width: 768px) {
    .details {
        float: left;
        width: 21em;
        margin: 1em;
        padding-right: 1em;
        border-right: 1px solid #eee;
    }
}

@media (min-width: 768px) {
    .preview {
        float: left;
        margin: 1em 1em 1em -1px;
        width: 23em;
    }
}

@media (min-width: 768px) {
    .signature {
        margin: 1em 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1em;
        width: 100%;
        background-color: #fff;
        border: 1px dashed #eee;
    }
}

.primary {
    color: #fff;
}

.footer {
    color: #ccc;
    text-align: center;
}

@media (min-width: 768px) {
    .footer {
        clear: left;
    }
}