.application {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.6em;
    color: #333;
    margin: 1em;

    @media (min-width: 768px) {
        margin: 0;
    }

    .transition {
        transition: all 0.2s ease-out;
    }

    .logo {
        display: block;
        margin: 1.5em auto;
    }

    .title {
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        line-height: 0.8em;
        letter-spacing: -0.08em;
        font-weight: 900;
    }

    .subtitle {
        text-align: center;
        font-size: 1.1em;
    }

    .footer {
        color: #ccc;
        text-align: center;

        @media (min-width: 768px) {
            clear: left;
        }
    }
}