@gray: #eee;
@spacing: 1em;
@border-width: 1px;

.borderBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.generator {
    @media (min-width: 768px) {
        width: 47em;
        margin: 0 auto @spacing auto;
        overflow: auto;
        background-color: lighten(@gray, 5%);
        border-top: @border-width solid @gray;
        border-bottom: @border-width solid @gray;
    }

    .details {
        margin-bottom: @spacing;

        @media (min-width: 768px) {
            .borderBox;
            float: left;
            width: 21em;
            margin: @spacing;
            padding-right: @spacing;
            border-right: @border-width solid @gray;
        }
    }

    .preview {
        @media (min-width: 768px) {
            float: left;
            width: 23em;
            margin: @spacing @spacing @spacing -1px;
        }
    }
}