.languageMenu {
    margin: -1em -1em 0 -1em;
    color: #fff;
    padding: 0.5em;
    text-align: right;
    transition: all 0.2s ease-out;

    @media (min-width: 768px) {
        margin: 0;
    }

    label {
        display: inline-block;
        margin: 0 0.5em 0 0;
    }

    select {
        height: 1.7em;
        padding: 0;
        display: inline-block;
        width: auto;
    }
}