@import 'variables';
@import 'functions';

.signature {
    margin-bottom: @spacing;

    @media (min-width: @smartphone-width) {
        #functions > .box-sizing(border-box);
        padding: @spacing;
        width: 100%;
        background-color: white;
        border: 1px dashed @gray;
    }
}